body{
    background-color: black;
}

header{
    width: 100%;
    height: 900px;
    background-image: url("../assets/faouzia_header_image.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.overlay{
    width: 100%;
    height: 900px;
    background-color: rgba(0,0,0,0.6);
}

nav{
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-con{
    width: 100%;
    height: 80px;
    float: left;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    height: 50px;
    color: white;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    color: white;
    font-weight: bold;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-right: 20px;
}

.search{
    width: 225px;
    height: 50px;
    border: 2px solid lightblue;
    color: white;
    text-align: center;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 50px;
    margin-right: 50px;
}

.hero{
    width: 90%;
    margin-top: 200px;
    margin-left: 122px;
}

.hero h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

.hero h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
}

.button-group{
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 70px;
}

.play{
    width: 225px;
    height: 66px;
    border: 2px solid lightblue;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    text-align: center;
    float: left;
    border-radius: 70px;
    margin-right: 20px;
}

.play:hover{
    cursor: pointer;
    color: white;
}

.shuffle{
    width: 225px;
    height: 66px;
    border: 2px solid lightblue;
    color: white;
    font-weight: bold;
    text-align: center;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.shuffle:hover{
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.heart{
    width: 70px;
    height: 70px;
    border: 2px solid lightblue;
    color: white;
    font-weight: bold;
    text-align: center;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
}

.heart:hover{
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.col-box{
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.video{
    width: 100%;
    height: 390px;
    margin: 0 auto;
    margin-top: -60px;
    margin-left: 122px;
}

.featured{
    width: 100%;
    height: 560px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
    margin-top: -60px;
    margin-right: 122px;
}

.featured h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.featured h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.featured p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.left{
    width: 50px;
    height: 50px;
    border: 2px solid lightblue;
    color: white;
    font-weight: bold;
    text-align: center;
    float: right;
    border-radius: 50px;
    margin-right: 20px;
}

.left:hover{
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.right{
    width: 50px;
    height: 50px;
    border: 2px solid lightblue;
    color: white;
    font-weight: bold;
    text-align: center;
    float: right;
    border-radius: 50px;
    margin-right: 20px;
}

.right:hover{
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.album-1{
    width: 277px;
    height: 277px;
    background-image: url("../assets/endless_summer_vacation_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-2{
    width: 277px;
    height: 277px;
    background-image: url("../assets/trustfall_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-3{
    width: 277px;
    height: 277px;
    background-image: url("../assets/gloria_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-4{
    width: 277px;
    height: 277px;
    background-image: url("../assets/diamonds_&_dancefloors_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-5{
    width: 277px;
    height: 277px;
    background-image: url("../assets/5sos5_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-6{
    width: 277px;
    height: 277px;
    background-image: url("../assets/legend_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-7{
    width: 277px;
    height: 277px;
    background-image: url("../assets/special_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-8{
    width: 277px;
    height: 277px;
    background-image: url("../assets/mercury_acts_1_&_2_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-9{
    width: 277px;
    height: 277px;
    background-image: url("../assets/harry\'s_house_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-10{
    width: 277px;
    height: 277px;
    background-image: url("../assets/so_far_so_good_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-11{
    width: 277px;
    height: 277px;
    background-image: url("../assets/between_us_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.album-12{
    width: 277px;
    height: 277px;
    background-image: url("../assets/=_album_cover.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px;
    margin-left: 122px;
    margin-right: 122px;
}

.recent{
    color: white;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 122px;
}

.popular{
    color: white;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 122px;
}

.about{
    width: 50%;
    color: white;
    float: left;
}

.info{
    width: 50px;
    height: 50px;
    border: 2px solid lightblue;
    color: white;
    font-weight: bold;
    text-align: center;
    float: left;
    border-radius: 50px;
    margin-right: 20px;
}

.info:hover{
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.call{
    width: 50px;
    height: 50px;
    border: 2px solid lightblue;
    color: white;
    font-weight: bold;
    text-align: center;
    float: left;
    border-radius: 50px;
    margin-right: 20px;
}

.call:hover{
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.map{
    width: 200px;
    height: 50px;
    background-color: lightgrey;
}

form{
    width: 50%;
    margin: 0 auto;
    margin-top: 122px;
    background-color: #CCCCCC;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.input-el{
    width: 40%;
    height: 50px;
    margin-top: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
}

select, button {
    width: 95% !important;
}

footer{
    width: 100%;
    height: 180px;
    color: white;
    padding-top: 60px;
    padding-left: 122px;
    padding-right: 122px;
}

footer p{
    width: 200px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.social-media{
    height: 50px;
}

.social{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    text-align: center;
    float: right;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.social:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}